.headerMainPage {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    background-color: cyan;
    background-size: cover;
    .mainMenuHeaderButton {
        background-color: white;
        color: blue;
        border-color: aqua;
        width: 200px;
        height: 60px;
        margin-right: 20px;
        font-size: 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

body {
    margin: 0;
}

.pageContentMainPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    h1 {
        font-size: 80px;
        color: lightskyblue;
    }
    p {
        font-size: 50px;
        color: lightblue;
    }
    button {
        font-size: 70px;
        width: 500px;
        height: 100px;
        color: blue;
        border-color: lightblue;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-radius: 30px;
    }
}