.page_header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-style: bold;
}

.password_reset_form {
    display: flex;
    flex-direction: column;
    .password_input {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        input {
            width: 300px;
            height: 40px;
            font-size: 30px;
        }
    }
    .note {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .submit_btn {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        width: 250px;
        height: 40px;
        margin-top: 10px;
    }
}