.page_header {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;
}

.recover_password {
    display: flex;
    flex-direction: column;
    .email_input {
        font-size: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        input {
            font-size: 30px;
            width: 450px;
        }
    }
    .send_btn {
        width: 160px;
        height: 40px;
        font-size: 20px;
        margin-top: 10px;
    }
}