.app_page_header {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    column-gap: 1080px;
    position: relative;
    .app_name {
        color: purple;
        font-size: 40px;
        margin-top: -5px;
    }
    .user_info_panel {
        display: flex;
        .user_data {
            flex-direction: column;
            margin-left: 10px;
            color: blue;
            h4 {
                margin: 5px;
            }
        }
        .pfp {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            margin-left: 10px;
            border-color: cyan;
        }
    }
    .pfp:hover {
        cursor: pointer;
        border-color: blue;
    }
}
.tasks_list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .add_button {
        margin-top: 20px;
        width: 300px;
        height: 180px;
        flex-shrink: 0;
        background-color: transparent;
        border-color: lightskyblue;
        border-radius: 20px;
    }
    .add_button:hover {
        cursor: pointer;
        border-color: blue;
    }
    .task_container {
        flex-direction: row;
        column-gap: 10px;
    }
}

.task_modal_box {
    position: fixed;
    display: none;
    z-index: 1;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    .modal_box_content {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        row-gap: 20px;
        padding: 10px;
        width: 650px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: purple;
        border: 2px solid cadetblue;
        background-color: white;
        input {
            width: 300px;
            color: lightskyblue;
        }
        label {
            color: blue;
        }
        .close_bar_modal_box {
            flex-direction: row;
            .close_btn {
                margin-left: 630px;
                font-size: 30px;
                font-weight: bold;
            }
            .close_btn:hover,.close_btn:focus {
                color: blue;
                cursor: pointer;
            }
            h2 {
                margin-top: -30px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        }

        .save_task_btn {
            width: 150px;
            height: 40px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 30px;
            color: blue;
            background-color: transparent;
            border-color: cadetblue;
        }

        .reset_btn {
            width: 250px;
            height: 40px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 30px;
            color: blue;
            background-color: transparent;
            border-color: cadetblue;
        }

        .save_task_btn:hover, .reset_btn:hover {
            cursor: pointer;
            background-color: lightgray;
        }

        .delete_task_btn {
            width: 200px;
            height: 40px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 30px;
            color: blue;
            background-color: transparent;
            border-color: cadetblue;
        }

        .delete_task_btn:hover {
            cursor: pointer;
            background-color: lightblue;
        }
    }
}

.account_box {
    display: none;
    .account_box_content {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 90%;
        top: 12%;
        margin-right: 15px;
        border: 2px solid cyan;
        button {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 25px;
            color: purple;
            background-color: white;
        }
        button:hover {
            cursor: pointer;
            background-color: lightgray;
        }
    }
}