<!DOCTYPE html>
<html lang="en">
    <title>FastTask account</title>
    <link rel="icon" type="image/x-icon" href="../fasttask_favicon.svg">
    <link rel="stylesheet" href="../static/cssFiles/accountInfoPageStyle.css">
    <script src="../static/jsFiles/accountInformation.js" defer></script>
    <body>
        <h1>Welcome to your FastTask account</h1>
        <div class="pfp">
            <img class="pfp_image">
            <button class="pfp_upload_btn" id="pfpUploadBtn">Upload new image</button>
            <input type="file" id="pfpFileInput" accept=".jpg, .png, .jpeg" style="display: none;">
        </div>
        <form class="user_info">
            <div>
                <label>
                    First name
                </label>
                <input type="text" placeholder="Enter your first name">
            </div>
            <div>
                <label>
                    Last name
                </label>
                <input type="text" placeholder="Enter your last name">
            </div>
            <div>
                <label>Date of birth</label>
                <input type="date">
            </div>
            <div>
                <label>Email</label>
                <input type="email" placeholder="Enter new email email address">
            </div>
            <div>
                <label>Username</label>
                <input type="text" placeholder="Enter new username">
            </div>
            <div>
                <label>Password</label>
                <input type="password" placeholder="Enter new password">
            </div>
        </form>
        <input type="submit" value="Save changes" class="submit_form_btn">
        <input type="submit" value="Cancel" class="submit_form_btn">
    </body>
</html>