<!DOCTYPE html>
<html lang="en">
    <title>
        Sign in - FastTask
    </title>
    <link rel="stylesheet" href="../static/cssFiles/loginPageStyle.css">
    <link rel="icon" type="image/x-icon" href="../fasttask_favicon.svg">
    <body>
        <h1>
            Sign into your account
        </h1>
        <form class="signInForm">
            <div>
                <label>
                    Email address
                </label>
                <input type="email" placeholder="Enter email"/>
            </div>
            <div>
                <label>
                    Password
                </label>
                <input type="password" placeholder="Enter password">
            </div>
            <input type="submit" value="Sign in" class="signInButton">
        </form>
        <a href="../htmlFiles/signUpPage.html">Don't have an account yet? Create an account</a>
        <a href="../htmlFiles/passwordResetEmailPage.html">Forgot your password? Reset here</a>
    </body>
</html>