<!DOCTYPE html>
<html lang="en">
    <title>
        Sign up - FastTask
    </title>
    <link rel="stylesheet" href="../static/cssFiles/signUpPageStyle.css">
    <link rel="icon" type="image/x-icon" href="../fasttask_favicon.svg">
    <body>
        <h1>
            Create new account
        </h1>
        <form class="signup_form" method="POST">
            {% csrf_token %}
            <div>
                <label>
                    First name
                </label>
                <input type="text" placeholder="Enter your first name">
            </div>
            <div>
                <label>
                    Last name
                </label>
                <input type="text" placeholder="Enter your last name">
            </div>
            <div>
                <label>
                    Date of birth
                </label>
                <input type="date"/>
            </div>
            <div>
                <label>
                    Email address
                </label>
                <input type="email" placeholder="example@abc.com"/>
            </div>
            <div>
                <label>
                    Username
                </label>
                <input type="text" placeholder="Max 20 characters"/>
            </div>
            <div>
                <label>
                    Password
                </label>
                <input type="password" placeholder="8-20 characters long"/>
            </div>
            <input type="submit" value="Create account" class="signUpButton">
        </form>
        <a href="../htmlFiles/loginPage.html">Already have an account? Log in</a>
    </body>
</html>